*{
    margin:0%;
    padding: 0%;
    box-sizing:border-box;

}
html, body{
    height: 100%;
    width: 100%;

}
#main{
    position: relative; /*It will prevent from overflow*/
    overflow: hidden; /*It will stop from the showing unwanted data*/

}
#page{
    position: relative;
    height: 100vh;
    width:100vw;
    background-color: rgba(231, 231, 231, 0.973);
}
#page1{
    height: 100vh;
    width:100vw;
    background-color: rgba(231, 231, 231, 0.973);
    position: relative;
}
#page2{
    height: 100vh;
    width:100vw;
    background-color: rgba(231, 231, 231, 0.973);
    position: relative;
}
#page3{
    height: 100vh;
    width:100vw;
    background-color:  rgba(231, 231, 231, 0.973);
    position: relative;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;

}
#loop{
    position: absolute;
    padding-bottom: 30px;
    top: 20%;
    height: 30%;
    width:100%;
    background-color: rgba(231, 231, 231, 0.973);
    font-size: 100px;
    white-space: nowrap;
    font-family: poppins;
    display: flex;
  
    
}
#loop > h1::after {
  content: "";
  display: inline-block;
  width: 200px; /* adjust gap */
}

#loop>h1{
    font-weight: 300;
    animation-name: anim;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding-right: 50px;
    margin-top: 90px;
    
    

}
#loop>h1>span{
    -webkit-text-stroke: 1.2px black ;
     color: transparent;
}
@keyframes anim{
    0%{
        transform: translateX(0%);

    }
    100%{
        transform: translateX(-100%);

    }
}
#nav{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 30px;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
#nav>.left{
    padding-right:80%;
    
    position: absolute;
    font-size: 16px;
    color: rgb(0, 0, 0);
   
}
#page> .left{
    position: absolute;
    top: 65%;
    left: 2%;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    width: 60%;
    line-height: 40px;
}
#page> .right{
    position: absolute;
    top: 65%;
    left:71%;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    width: 60%;
    line-height: 40px;
    
}
#page>h4{
    position: absolute;
    top: 90%;
    left: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bolder;
    width: 60%;
    line-height: 40px;
}
#page1>.right{
    position:absolute;
    font-family:"Roboto Mono", monospace;
    top: 20%;
    left: 63%;
    font-size: 40px;
    font-weight:bolder;
    line-height: 80px;
      z-index: 99; /* stays above canvas */
    animation: floatText 4s ease-in-out infinite;
}
#page1>.left{
    position: absolute;
    top: 60%;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;

    font-style: normal;
    font-size: 18px;
    left: 10%;
    font-weight:bolder;
    font-size: 40px;
    width: 50%;
    line-height: 80px;
}
#page2>#text1{
    position: absolute;
    top:30%;
    left: 10%;

}
#page2>#text1>h3{
    font-style: italic;
     color: transparent;
     -webkit-text-stroke: 1.2px black ;
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     
}
#page2>#text1>h1{
    font-size: 60px;
    line-height: 100px;
}
#page2>#text2{
    position: absolute;
    top:60%;
    left: 70%;
}
#page2>#text2>h3{
    font-style: italic;
     color: transparent;
     -webkit-text-stroke: 1.2px black ;
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     
}
#page2>#text2>p{
    font-size: 20px;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
#page3>#text1{
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 45px;
    
}
#page3>#text2{
    position: absolute;
    top: 50%;
    left: 70%;
    font-size: 30px;
   
}
#page3>#text2>h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
#page3>#text2>p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
     
    

    
  
   
    




/* .bg-text{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
    color: #000000;
    font-weight: 800;
    font-size: 120px;
    letter-spacing: 0.08em;
    opacity: 1;
    text-transform: uppercase;
    animation: bgTextMove 10s linear infinite; 
}
@keyframes bgTextMove{
  0%{transform: translateX(-20%);} 
  100%{transform: translateX(100%);} 
} */
